* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #c0c0c0;
    margin: 0;
    padding: 5px;
    width: 100vw;   
}

header h1 {
    display: flex;
    margin: 5px 0;
    padding: 0;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav>ul>li {
    display: inline;
    padding: 5px 15px;
}

nav ul {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 25px;
}